#TODO review and adjust this

# rename this to .env and change the values of the environment variables
# this file provides environment variables to the docker containers

RX_SM_WEB_PORT=8081
RX_SM_API_PORT=8082
RX_SM_APP_API_PORT=3000
RX_SM_DB_GUI_PORT=8083
RX_MOCK_SERVER_PORT1=9080
RX_MOCK_SERVER_PORT2=9090
MONGO_INITDB_ROOT_USERNAME=theadmin
MONGO_INITDB_ROOT_PASSWORD=AlphaBravoCharlie123
ME_CONFIG_MONGODB_ADMINUSERNAME=theadmin
ME_CONFIG_MONGODB_ADMINPASSWORD=AlphaBravoCharlie123
ME_CONFIG_MONGODB_SERVER=rxsmdb